/* -----------------root values -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
:root{
    --background-color: #151515;
    --green-color: #4EE1A0;
    --light-dark: #242424;
    --white: #D9D9D9;
    --pure-white: #FFFFFF;
}
html{
    font-size: 62.5%;
}
::-webkit-scrollbar{
    display: none;
}
.HeadingXL{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -.2rem;
}

.HeadingL{
    font-family: 'Space Grotesk' , sans-serif;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -.1rem;
    

}

.HeadingM{
    font-family: 'Space Grotesk';
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0rem;
}

.Body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0;
}

/* !-----------------------------------Mobile First CSS ------------------------------ */
/* ------------------------body------------------------- */
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: var(--background-color);
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    max-width: 365px;
    height: auto;
    margin: 0 auto;
    max-width: 37em;
    
}

/*----------header-----------------*/
.wrapper{
    margin: 0 auto;
    max-width: 37em;
    overflow: hidden;
}


header{
   padding: 2em;
}
.logo{
    font-size: 2.4rem;
    width: 12rem;
    font-weight: bold;
    margin: 0 auto;
    z-index: 1;
}
nav ul {
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1.5em;
    list-style: none;
}

.hero-img{
    background-image: url('./assets/images/image-profile-mobile.webp');
    background-repeat: no-repeat;
    width: 17em;
    height: 38em;
    background-position: center center;
    background-size: contain;
    margin: 0 auto;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.decoration{
    height: 30em;
}
.rings{
    background: url('./assets/images/pattern-rings.svg');
    width: 60em;
    height: 30em;
    background-repeat: no-repeat;
    z-index: -3;
    position: relative;
    transform: translateX(-35em) translateY(3em);
}
.circle{
    background: url('./assets/images/pattern-circle.svg');
    width: 20em;
    height: 130px;
    position: relative;
    transform: translateX(29em) translateY(-15em);
    background-repeat: no-repeat;
    z-index: -4;
}
/* ----------------------main------------------- */

main h1{

    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -.1rem;
    text-align: center;
    top: 10em;
}
main h1 span{
    border-bottom: .4rem solid #4ee1a0;
}

main h2 {
    font-weight: 200;
    font-size: 1.6rem;
    text-align: center;
    padding: 2em;
}

.contact{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: .3rem solid #4ee1a0;
    width: 10rem;
    margin: 0 auto 5em auto;
}

.contact a{
    color: #f3f3f3;
    text-decoration: none;
    padding-bottom: .5em;
    line-height: 2.25;
}

#separator{
    display:block;
    width: 34em;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.skills h3{
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
}
.skills p{
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 2em;
}
.skills h3:nth-child(1){
    margin-top: 1em;
}

.left{
    width: 60em;
    transform: translateX(20em) translateY(-9em);
    z-index: -4;
    position: absolute;
    width: 18em;
}
.works{
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    align-items: center;
    padding-top: 1.5em;
    justify-content: space-between;
}
.works .contact{
    margin: 0 ;
    padding-bottom: .5em;
}

/* ---------Projects------------ */
.projects{

   margin-top: 5em;

}
.projects img{
    width: 37em;
    height: 25.3em;
}
.projects .title{
    margin-top: .5em;
    font-size: 2.4rem;
    font-weight: bold;
    /* line-height: 3.2; */
}
.projects .tag  {
    text-align: right;
    text-transform: uppercase;
    display: flex;
    gap: 1em;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.8;
}
.source{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
.source a{
    text-decoration: none;
    color: white;
    padding-bottom: .5em;
    border-bottom: .2em solid #4ee1a0;
}
/* ------------contact form----------- */
.contact-form{
    margin-top: 4em;
    padding: 2em;
    background-color: var(--light-dark);
    text-align: center;
}
.contact-form h1{
    font-size: 4rem;
    font-weight: bold;
}
.contact-form h3{
    font-weight: 500;
    font-size: 1.6rem;
    padding: 1em;
}

.contact-form form input{
    font-family: 'Space Grotesk', sans-serif;
   width: 100%;
   font-size: 1.6rem;
   padding: .6em;
   font-weight: 500;
}

.contact-form form input[type="text"]{
    background: none;
    border-style: none;
    border-bottom: 1px solid white;
    margin-bottom: .2em;
    color: white;
   
}
.contact-form form input[type="email"]{
    background: none;
    border-style: none;
    border-bottom: 1px solid white;
    margin-bottom: .2em;
    color: white;
}
.contact-form form textarea{
    width: 100%;
    background: none;
    border-style: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.6rem;
    padding: .5em;
    font-weight: 500;
}
.submit{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.6;
    letter-spacing: .1em;
    text-align: right;
    padding-top: 2em;
    margin-bottom: 5em;
}

.form{
    background: url('./assets/images/pattern-rings.svg');
    width: 60em;
    transform: translateX(-36em) translateY(-15em);
    height: 20em;
    max-height: 20em;
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;

}
.submit a{
    text-decoration: none;
    color: white;
    padding-bottom: .3em;
    border-bottom: .3rem solid #4ee1a0;
    
}
.footer{
    padding: 5em;
}

/* -------------Micro Interactions------------ */

 .contact:hover a{
    color: #4ee1a0;
}

.source .live:hover {
    color:#4ee1a0;
}

.submit:hover a{
    color:#4EE1A0;
}

.contact-form input[type="text"]:active,
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:active,
.contact-form input[type="email"]:focus,
.contact-form textarea:active,
.contact-form textarea:focus{
    outline: none;
    border-bottom: 1px solid #4ee1a0;
}
